CookBook/bin
Data/bin
Contract/bin
obj
csx
.vs
edge
Publish

**/bin/*.xml
*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
.secrets
appsettings.json
**/bin/Debug
**/bin/Release
*.userprefs
